<div
  class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary sidebarComponent ms-3"
>
  <ul class="nav nav-pills flex-column mb-auto mt-3 gap-2">
    <li class="nav-item">
      <a
        href="#"
        class="nav-link d-flex align-items-center gap-3"
        aria-current="page"
      >
        <span
          class="border border-white fw-bold rounded-circle text-light d-flex align-items-center justify-content-center numberCircle numberCircleActive"
          >1</span
        >
        <div>
          <p class="m-0 stepsNumber">STEP 1</p>
          <h6 class="fw-bold text-light stepsName">YOUR INFO</h6>
        </div>
      </a>
    </li>
    <li>
      <a
        href="#"
        class="nav-link link-body-emphasis d-flex align-items-center gap-3"
      >
        <span
          class="border border-white fw-bold rounded-circle text-light d-flex align-items-center justify-content-center numberCircle"
          >2</span
        >
        <div>
          <p class="m-0 text-light stepsNumber">STEP 2</p>
          <h6 class="fw-bold text-light stepsName">SELECT PLAN</h6>
        </div>
      </a>
    </li>
    <li>
      <a
        href="#"
        class="nav-link link-body-emphasis d-flex align-items-center gap-3"
      >
        <span
          class="border border-white fw-bold rounded-circle text-light d-flex align-items-center justify-content-center numberCircle"
          >3</span
        >
        <div>
          <p class="m-0 text-light stepsNumber">STEP 3</p>
          <h6 class="fw-bold text-light stepsName">ADD-ONS</h6>
        </div>
      </a>
    </li>
    <li>
      <a
        href="#"
        class="nav-link link-body-emphasis d-flex align-items-center gap-3"
      >
        <span
          class="border border-white fw-bold rounded-circle text-light d-flex align-items-center justify-content-center numberCircle"
          >4</span
        >
        <div>
          <p class="m-0 text-light stepsNumber">STEP 4</p>
          <h6 class="fw-bold text-light stepsName">SUMMARY</h6>
        </div>
      </a>
    </li>
  </ul>
</div>
